{{!-- This file is reponsible for outputting the footer --}}

<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer--left-section">
    <a href="https://twitter.com/CaptainTechie" target="_blank">
      <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter">
        <span class="visuallyhidden">Twitter</span>
      </button>
    </a>
    <a href="https://facebook.com/Captain2Phones" target="_blank">
      <button class="mdl-mini-footer--social-btn social-btn social-btn__facebook">
        <span class="visuallyhidden">Facebook</span>
      </button>
    </a>
    <a href="https://github.com/poad42" target="_blank">
      <button class="mdl-mini-footer--social-btn social-btn social-btn__github">
        <span class="visuallyhidden">Github</span>
      </button>
    </a>
  </div>
  <div class="mdl-mini-footer--right-section">
    <span>Copyright Adhitya Mohan 2017 </span>
</footer>
